<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>充值提现</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<!--主体-->
<div class="main">
    <header class="header">BICOIN</header>
    <!--侧边栏-->
    <div class="mainContent">
        <!--导航列表-->
        <ul class="navList">
            <li class="active">
                <a href="/recharge">充值提现</a>
            </li>
            <li>
                <a href="/order">资金账单</a>
            </li>
            <li>
                <a href="/user">管理用户</a>
            </li>
            <li>
                <a href="/account">账户总览</a>
            </li>
            <li>
                <a href="/index">币coin操作</a>
            </li>
        </ul>
        <!--主要内容-->
        <div class="content">
            <div class="input-form recharge-content-form">
                <div class="form-group">
                    <label for="userSelect">充值用户:</label>
                    <select name="rechargeUser" id="userSelect"></select>
                </div>
                <div class="form-group">
                    <label for="rechargeNum">充值金额:</label>
                    <input type="number" class="form-control" id="rechargeNum" placeholder="请输入充值数量">
                    <button type="button" class="unit-btn">USDT</button>
                </div>
                <div class="form-group">
                    <label for="vRechargeCode">验证码:</label>
                    <input type="text" class="form-control" id="vRechargeCode" placeholder="请输入验证码">
                    <button type="button" class="unit-btn vCode-btn" value="1" id="getRechargeCode">获取验证码</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="rechargeBtn" value="1">确认充值</button>
                </div>
            </div>
            <div class="input-form recharge-content-form">
                <div class="form-group">
                    <label for="cashUser">提现用户:</label>
                    <select name="cashUser" id="cashUser"></select>
                </div>
                <div class="form-group">
                    <label for="cashNum">提现金额:</label>
                    <input type="number" class="form-control" id="cashNum" placeholder="请输入提现数量">
                    <button type="button" class="unit-btn">USDT</button>
                </div>
                <div class="form-group">
                    <label for="vCashCode">验证码:</label>
                    <input type="text" class="form-control" id="vCashCode" placeholder="请输入验证码">
                    <button type="button" class="unit-btn vCode-btn" value="2" id="getCashCode">获取验证码</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger" id="cashBtn" value="2">确认提现</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    //验证码倒计时函数
    var wait = 60;

    function changeTime(time_btn) {
        if (wait == 0) {
            time_btn.css("color", "#1890FF");
            time_btn.prop("disabled", false);
            time_btn.text("获取验证码");
            wait = 60;
        } else {
            time_btn.css("color", "#cccccc");
            time_btn.prop("disabled", true);
            time_btn.text(wait + "(s)");
            wait--;
            setTimeout(function () {
                changeTime(time_btn)
            }, 1000)
        }
    }

    $(document).ready(function () {
        $.ajax({
            type: "get",
            url: "/asset/getAllUsers",
            success: function (res) {
                if (res.code == 0) {
                    if (res.data.length == 0) {
                        alert("暂无用户");
                        return;
                    }
                    showRechargeUsers(res.data);
                    showCashUsers(res.data);
                } else {
                    alert("无法获取到用户下拉菜单")
                }
            }

        })
    })

    function showRechargeUsers(data) {
        $("#userSelect").empty();
        $.each(data, function (index, item) {
            var option = $("<option value='" + item.uid + "'>" + item.niceName + "(UID " + item.uid + ")</option>");
            $("#userSelect").append(option);
        })
    }

    function showCashUsers(data) {
        $("#cashUser").empty();
        $.each(data, function (index, item) {
            var option = $("<option value='" + item.uid + "'>" + item.niceName + "(UID " + item.uid + ")</option>");
            $("#cashUser").append(option);
        })
    }

    $("#getRechargeCode").on("click", function () {
        var btn = $(this);
        changeTime(btn);
        $.ajax({
            type: "post",
            url: '/notice/sendCode',
            data: JSON.stringify({
                type: 1,
                uid: $("#userSelect").val()
            }),
            contentType: 'application/json',
            success: function (res) {
                if (res.code == 0) {
                    alert("验证码发送成功,请尽快填写验证码完成充值");
                } else {
                    alert("验证码发送失败")
                }
            }
        })
    });

    $("#getCashCode").on("click", function () {
        var btn = $(this);
        changeTime(btn);
        $.ajax({
            type: "post",
            url: '/notice/sendCode',
            data: JSON.stringify({
                type: 1,
                uid: $("#cashUser").val()
            }),
            contentType: 'application/json',
            success: function (res) {
                if (res.code == 0) {
                    alert("验证码发送成功,请尽快填写验证码完成提现");
                } else {
                    alert("验证码发送失败")
                }
            }
        })
    });

    function submitForm(code, operationType, uid, amount) {
        if (code == "" || uid == "" || amount == "") {
            alert("验证码、金额、用户不能为空")
            return;
        } else {
            $.ajax({
                type: "post",
                url: "/asset/recharge",
                data: JSON.stringify({
                    code: code,
                    operationType: operationType,
                    uid: uid,
                    amount: amount
                }),
                contentType: 'application/json',
                success: function (res) {
                    if (res.code == 0) {
                        alert(res.dialog.title);
                    } else {
                        alert(res.dialog.title);
                    }
                }
            })
        }
    }

    $("#rechargeBtn").on("click", function () {
        var code = $("#vRechargeCode").val().trim();
        var operationType = 1;
        var uid = $("#userSelect").val();
        var amount = $("#rechargeNum").val();
        submitForm(code, operationType, uid, amount);
    })

    $("#cashBtn").on("click", function () {
        var code = $("#vCashCode").val().trim();
        var operationType = 1;
        var uid = $("#cashUser").val();
        var amount = $("#cashNum").val();
        submitForm(code, operationType, uid, amount);
    })
</script>
</html>
