<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理用户</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/common.css">
    <style>
        .addUser{
            width: 100%;
            height: 85px;
            background-color: white;
            display: flex;
            font-size: 14px;
            padding: 25px 50px;
            margin-bottom: 30px;

        }

        .addUser label{
            line-height: 32px;
            margin-right: 5px;
        }

        .addUser input{
            width: 280px;
            line-height: 32px;
            margin-right: 40px;
            padding-left: 5px;
        }

        .addUser button{
            width: 120px;
            height: 35px;
            line-height: 35px;
            border-radius: 4px;
            outline: none;
            background-color: #1890FF;
            color: white;
            border: none;
        }
    </style>
</head>
<body>
<!--主体-->
<div class="main">
    <header class="header">BICOIN</header>
    <!--侧边栏-->
    <div class="mainContent">
        <!--导航列表-->
        <ul class="navList">
            <li>
                <a href="/recharge">充值提现</a>
            </li>
            <li>
                <a href="/order">资金账单</a>
            </li>
            <li class="active">
                <a href="/user">管理用户</a>
            </li>
            <li>
                <a href="/account">账户总览</a>
            </li>
            <li>
                <a href="/index">币coin操作</a>
            </li>
        </ul>
        <!--主要内容-->
        <div class="content column-content">
            <div class="addUser">
                <div>
                    <label for="user_uid">火币UID:</label>
                    <input type="text" id="user_uid" placeholder="请输入用户火币UID">
                </div>
                <div>
                    <label for="user_nickName">昵称:</label>
                    <input type="text" id="user_nickName" placeholder="请输入用户昵称">
                </div>
                <div>
                    <button class="blue_btn" id="addUserBtn">新增用户</button>
                </div>
            </div>
            <table class="grid">
                <thead>
                <tr>
                    <th>火币UID</th>
                    <th>昵称</th>
                    <th>金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="list"></tbody>
            </table>
            <div class="nav_bar btn-group">
                <button id="first_btn">首页</button>
                <button id="prev_btn">上一页</button>
                <span id="pageInfo"></span>
                <button id="next_btn">下一页</button>
                <button id="last_btn">尾页</button>
            </div>
        </div>
    </div>
</div>
<!--遮罩层-->
<div class="mask"></div>
<div class="delete_model">
    <p>您将要删除 <span class="user_info">囤明星（UID:12345）</span>,请验证您的身份</p>
    <p>
        <label for="d-v-code">验证码：</label>
        <input type="hidden" id="uid">
        <input type="text" class="d-v-code form-control" id="d-v-code" placeholder="验证码">
        <button type="button" class="v-code-btn" onclick="deleteUserByUid(1,123)">获取验证码</button>
    </p>
    <p>
        <button type="button" class="btn blue-btn">确认删除</button>
        <br>
        <button type="button" id="close—btn" class="btn btn-link">退出</button>
    </p>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    var initPageNum=1;
    var initPageSize=10;
    var initTotalPage;

    getUserListByPageNo(initPageNum,initPageSize);

    $("#addUserBtn").on("click",function () {
        var uid=$("#user_uid").val().trim();
        var nickName=$("#user_nickName").val().trim();
        $.ajax({
            type:"post",
            url:"/user/addUser",
            data:JSON.stringify({
                uid:uid,
                nickName:nickName
            }),
            contentType:'application/json',
            success:function (res) {
                if(res.code==0){
                    alert("新增用户成功");
                    getUserListByPageNo(1,initPageSize);
                }else {
                    alert("新增用户失败");
                }
            }

        })
    })

    function showUserList(data) {
        $("#list").empty();
        $.each(data,function (index,item) {
            var tr=$("<tr></tr>");
            var uid=$("<td>"+item.huobiUid+"</td>");
            var nickName=$("<td>"+item.nickName+"</td>");
            var bicoinAccount=$("<td>"+item.asset+" USDT</td>");
            var deleteBtn=$("<button class='btn btn-danger'>删除</button>").bind("click",function () {
                // showDeleteDialog(item.huobiUid,item.nickName);
                alert("暂不支持删除用户")
            });
            tr.append(uid).append(nickName).append(bicoinAccount).append(deleteBtn);
            $("#list").append(tr);
        })
    }

    function showUserPageList(data) {
        $("#pageInfo").html(data.nowPage+"/"+data.maxPage);
    }

    $("#first_btn").on("click",function () {
        if (initPageNum==1) {
            alert("已经是第一页")
        }else {
            getUserListByPageNo(1,initPageSize);
        }
    });
    $("#last_btn").on("click",function () {
        if (initPageNum==initTotalPage){
            alert("已经是最后一页")
        } else {
            getUserListByPageNo(initTotalPage,initPageSize);
        }
    });
    $("#prev_btn").on("click",function () {
        if (initPageNum==1){
            alert("已经是第一页")
        } else {
            initPageNum--;
            getUserListByPageNo(initPageNum,initPageSize);
        }
    });
    $("#next_btn").on("click",function () {
        if(initPageNum==initTotalPage){
            alert("已经是最后一页");
        }else {
            initPageNum++;
            getUserListByPageNo(initPageNum,initPageSize);
        }
    })

    function getUserListByPageNo(pageNo,pageSize) {
        $.ajax({
            type:"get",
            url:"/asset/allAssetUsers?pageNum="+pageNo+"&pageSize="+pageSize,
            success:function (res) {
                if (res.code==0){
                    if (res.data.length==0){
                        alert("暂无数据");
                        return;
                    }
                    initPageNum=res.data.nowPage;
                    initTotalPage=res.data.maxPage;
                    showUserList(res.data.assetUsers);
                    showUserPageList(res.data)
                }
            }
        })
    }

    $("#close—btn").on("click",function () {
        $(".delete_model .user_info").html("");
        $("#d-v-code").val("");
        $("#uid").val("");
        $(".mask").hide();
        $(".delete_model").hide();
    })


    function deleteUserByUid(uid,vcode) {
        $.ajax({
            type:"post",
            url:'/',
            data:JSON.stringify({
                uid:uid,
                vcode:vcode
            }),
            contentType:'application/json',
            success:function (res) {
                if(res.code==0){
                    alert("删除成功");
                    getOrderListByPageNo(1,initPageSize)
                }
            }

        })
    }

    function showDeleteDialog(uid,nickName) {
        $(".delete_model .user_info").html(nickName+" (UID:"+uid+")");
        $("#uid").val(uid);
        $(".mask").show();
        $(".delete_model").show();
    }
</script>
</html>
